#etlap{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    margin-top: 5%;
    text-align: center;
    border: 3px ridge rgb(90,60,60);
    background-color: white;
}

.sor{
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    margin: 1%;
    background-color: white;
}

.sor > div{
    border: 3px ridge rgb(80, 80, 80);
    border-radius: 6px;
    width: auto;
    height: auto;
    display: inline-block;
    background-color: white;
    margin-right: 20px;
    transition: 0.5s;
}

.sor div:first-child{
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    width: auto;
    font-size: 25px;
    margin: 0px 6px !important;
}

.sor > div > *{
    display: inline-block;
}

.kivalasztott {
    transition: 0.5s;
    border: 3px ridge rgb(40,120,250) !important;
}

/*
.kivalasztott-sor {

}
*/

#adatok{
    width: 300px ! important;
}

#etlap img{
    width: 300px;
    height: 175px;
}

#etlap p{
    font-size: 20px;
    margin: 12px;
    color: rgb(70,70,70);
}

.adatok {
    width: 95%;
    height: 80px;
    border: 2px ridge rgb(80,80,80);
    background-color: rgb(220,220,200);
    margin-bottom: 3px;
}

:root {
    --szamlalo: 0;
}

#osszeg {
    color: rgb(52, 59, 153);
    text-decoration: underline;
}

#fizetendo {
    margin-left: 82.5%;
    margin-right: 2%;
    margin-top: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: rgb(190,180,180);
    color: rgb(70,70,70);
    border: 2px ridge rgb(70,50,50);
    border-radius: 7px;
}

#fizetendo p {
    margin-left: 10px;
    width: 90%;
    font-size: 115%;
}